@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* font-family: "Josefin Sans", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal; */

/* font-family: "Playfair Display", serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal; */

/* font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal; */

/* .icon-color{
    color: rgb(197, 175, 6);
} */



.my-bg {
    height: 100vh;
    width: 100vw;
    background-image: url('/static/img 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-head{
font-size: 64px;
color: #c7954f;
font-family: "Playfair Display", serif;
font-optical-sizing: auto;
font-weight:600;
font-style: normal;
margin-top: 180px;
}

.main-para{
    font-size: 20px;
    color: #26a98dfe;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    }



